:root {
    --wikigg-header-height: 35px;
    --wikigg-header-scroll-height: 35px;
    --wikigg-header-button-size: 30px;
    --wikigg-header-background-color: #000538;
    --wikigg-accent-color: #ff1985;
    --wikigg-header-text-color: #fff;
    --wikigg-header-icon-color: #dedee5;
    --wikigg-themeprefs-background-color: #29305c;
    --wikigg-themeprefs-background-color--hover: #2e3460;
    --wikigg-themeprefs-background-color--active: #313762;
    --wikigg-themeprefs-content-background-color: #111431;
    --wikigg-themeprefs-content-text-color: #fff;
    --wikigg-themeprefs-item-background-color--hover: #2b325f;
    --wikigg-themeprefs-item-background-color--active: #2f355f
}

#footer #footer-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    min-height: 44px;
    border-color: #72777d;
    background-color: #f8f9fa
}

audio[style*=";height:100%"] {
    height: revert !important
}

.gallerybox video {
    display: block;
    margin: 0 auto
}

#t-recentchangeslinked {
    display: none
}

html.view-dark #footer-icons img[data-theme="light"] {
    display: none
}

html:not(.view-dark) #footer-icons img[data-theme="dark"] {
    display: none
}

html {
    scroll-padding-top: var(--wikigg-header-scroll-height)
}




@media (prefers-reduced-motion:reduce) {

    *,
    ::before,
    ::after {
        animation-delay: -0.01ms !important;
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
        transition-duration: 0ms !important
    }
}

body {
    margin: 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

abbr[title] {
    border-bottom: 1px dotted;
    cursor: help
}

@supports (text-decoration:underline dotted) {
    abbr[title] {
        border-bottom: 0;
        text-decoration: underline dotted
    }
}

pre,
code,
tt,
kbd,
samp {
    font-family: monospace, monospace
}

sub,
sup {
    line-height: 1
}

figure {
    margin: 0
}

button,
input,
optgroup,
select,
textarea {
    margin: 0
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
    border-style: none;
    padding: 0
}

legend {
    padding: 0
}

div.tright,
div.floatright,
table.floatright {
    clear: right;
    float: right
}

@media all and (max-width:calc(640px - 1px)) {

    body.skin--responsive div.tright,
    body.skin--responsive div.floatright,
    body.skin--responsive table.floatright {
        clear: both;
        float: none
    }
}

div.tleft,
div.floatleft,
table.floatleft {
    float: left;
    clear: left
}

@media all and (max-width:calc(640px - 1px)) {

    body.skin--responsive div.tleft,
    body.skin--responsive div.floatleft,
    body.skin--responsive table.floatleft {
        clear: both;
        float: none
    }
}

div.floatright,
table.floatright {
    margin: 0 0 0.5em 0.5em
}

div.floatleft,
table.floatleft {
    margin: 0 0.5em 0.5em 0
}

div.thumb {
    width: auto;
    background-color: transparent;
    margin-bottom: 0.5em
}

div.tleft {
    margin: 0.5em 1.4em 1.3em 0
}

div.tright {
    margin: 0.5em 0 1.3em 1.4em
}

.thumbcaption {
    text-align: start;
    line-height: 1.4em;
    padding: 3px
}

.thumbcaption:empty {
    padding: 0
}

div.thumbinner {
    padding: 3px;
    text-align: center;
    overflow: hidden
}

@media all and (max-width:calc(640px - 1px)) {
    body.skin--responsive .mw-parser-output .thumb .thumbinner {
        display: flex;
        place-content: flex-start center;
        flex-flow: column wrap
    }

    body.skin--responsive .mw-parser-output .thumb .thumbinner>.thumbcaption {
        justify-content: space-between;
        width: 100%;
        flex: 1 0 100%;
        order: 1;
        display: block
    }
}

.toctogglecheckbox:checked~ul {
    display: none
}

.tocnumber {
    padding-left: 0;
    padding-right: 0.5em;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0.5em;
    padding-inline-start: 0;
    padding-inline-end: 0.5em
}

.mw-wiki-logo {
    background-image: url(https://terraria.wiki.gg/images/Site-logo.png?b63ea6)
}


@media screen {
    div.thumbinner {
        border: 1px solid var(--border-color-subtle, #c8ccd1);
        background-color: var(--background-color-interactive-subtle, #f8f9fa);
        font-size: 94%
    }

    .thumbimage {
        background-color: var(--background-color-interactive-subtle, #f8f9fa);
        border: 1px solid var(--border-color-subtle, #c8ccd1)
    }

    .thumbcaption {
        border: 0;
        font-size: 94%
    }

    .thumbborder {
        border: 1px solid #eaecf0
    }

    .magnify {
        float: right;
        margin-left: 3px;
        margin-right: 0;
        -webkit-margin-start: 3px;
        -webkit-margin-end: 0;
        margin-inline-start: 3px;
        margin-inline-end: 0
    }

    .magnify a {
        display: block;
        text-indent: 15px;
        white-space: nowrap;
        overflow: hidden;
        width: 15px;
        height: 11px;
        background-image: url(/mw-1.43/resources/src/mediawiki.skinning/images/magnify-clip-ltr.svg?8330e);
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none
    }

    .mw-content-ltr .magnify {
        float: right
    }

    .mw-content-ltr .magnify a {
        background-image: url(/mw-1.43/resources/src/mediawiki.skinning/images/magnify-clip-ltr.svg?8330e)
    }

    .mw-content-rtl .magnify {
        float: left
    }

    .mw-content-rtl .magnify a {
        background-image: url(/mw-1.43/resources/src/mediawiki.skinning/images/magnify-clip-rtl.svg?38fd5)
    }

    a.new {
        color: var(--color-link-new, #ba0000)
    }

    a.new:visited {
        color: var(--color-link-new--visited, #a55858)
    }

    a.mw-selflink {
        color: inherit;
        font-weight: bold;
        text-decoration: inherit
    }

    a.mw-selflink:hover {
        cursor: inherit;
        text-decoration: inherit
    }

    a.mw-selflink:active,
    a.mw-selflink:visited {
        color: inherit
    }

    .mw-parser-output a.extiw,
    .mw-parser-output a.external {
        color: var(--color-link-external, #36b)
    }

    .mw-parser-output a.extiw:visited,
    .mw-parser-output a.external:visited {
        color: var(--color-link-external--visited, #636)
    }

    .mw-parser-output a.extiw:active,
    .mw-parser-output a.external:active {
        color: var(--color-link-external--active, #b63)
    }

    .mw-underline-always a {
        text-decoration: underline
    }

    .mw-underline-never a {
        text-decoration: none
    }

    .plainlinks a.external {
        background: none !important;
        padding: 0 !important
    }

    .mw-body-content::after {
        clear: both;
        content: '';
        display: block
    }

    .mw-body-content a.external.free {
        word-wrap: break-word
    }

    .mw-body-content .error {
        font-size: larger;
        color: var(--color-error, #bf3c2c)
    }

    .rtl .mw-parser-output a.external.free,
    .rtl .mw-parser-output a.external.autonumber {
        direction: ltr;
        unicode-bidi: embed
    }

    .mw-hide-empty-elt .mw-parser-output:not(.mw-show-empty-elt) .mw-empty-elt {
        display: none
    }

    .wikitable {
        background-color: var(--background-color-neutral-subtle, #f8f9fa);
        color: var(--color-base, #202122);
        margin: 1em 0;
        border: 1px solid var(--border-color-base, #a2a9b1);
        border-collapse: collapse
    }

    .wikitable>tr>th,
    .wikitable>tr>td,
    .wikitable>*>tr>th,
    .wikitable>*>tr>td {
        border: 1px solid var(--border-color-base, #a2a9b1);
        padding: 0.2em 0.4em
    }

    .wikitable>tr>th,
    .wikitable>*>tr>th {
        background-color: var(--background-color-neutral, #eaecf0);
        color: var(--color-base, #202122);
        text-align: center
    }

    .wikitable>caption {
        font-weight: bold
    }

    .emptyPortlet {
        display: none
    }

    .printfooter,
    .client-nojs #t-print {
        display: none
    }


    #siteSub {
        display: none
    }

    #mw-content-subtitle,
    #contentSub2 {
        font-size: 84%;
        line-height: 1.2em;
        margin: 0 0 1.4em 1em;
        color: var(--color-subtle, #54595d);
        width: auto
    }

    a {
        text-decoration: none;
        color: var(--color-link, #0645ad);
        background: none
    }

    a:not([href]) {
        cursor: pointer
    }

    a:visited {
        color: var(--color-link--visited, #0b0080)
    }

    a:active {
        color: var(--color-link--active, #faa700)
    }

    a:hover,
    a:focus {
        text-decoration: underline
    }

    img {
        border: 0;
        vertical-align: middle
    }

    hr {
        height: 1px;
        background-color: var(--border-color-base, #a2a9b1);
        border: 0;
        margin: 0.2em 0
    }

    .mw-heading,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--color-emphasized, #101418);
        font-weight: bold;
        margin: 0;
        padding-top: 0.5em;
        padding-bottom: 0.17em;
        display: flow-root;
        word-break: break-word
    }

    .mw-heading1,
    h1,
    .mw-heading2,
    h2 {
        margin-bottom: 0.6em;
        border-bottom: 1px solid var(--border-color-base, #a2a9b1)
    }

    .mw-heading3,
    h3,
    .mw-heading4,
    h4,
    .mw-heading5,
    h5 {
        margin-bottom: 0.3em
    }

    .mw-heading1,
    h1 {
        font-size: 188%;
        font-weight: normal
    }

    .mw-heading2,
    h2 {
        font-size: 150%;
        font-weight: normal
    }

    .mw-heading3,
    h3 {
        font-size: 128%
    }

    .mw-heading4,
    h4 {
        font-size: 116%
    }

    .mw-heading5,
    h5 {
        font-size: 108%
    }

    .mw-heading6,
    h6 {
        font-size: 100%
    }

    .mw-heading h1,
    .mw-heading h2,
    .mw-heading h3,
    .mw-heading h4,
    .mw-heading h5,
    .mw-heading h6 {
        display: inline;
        border: 0;
        margin: 0;
        padding: 0;
        color: inherit;
        font: inherit
    }

    p {
        margin: 0.4em 0 0.5em 0
    }

    p img {
        margin: 0
    }

    ul {
        margin-top: 0.3em;
        margin-bottom: 0;
        margin-left: 1.6em;
        margin-right: 0;
        -webkit-margin-start: 1.6em;
        -webkit-margin-end: 0;
        margin-inline-start: 1.6em;
        margin-inline-end: 0;
        padding: 0
    }

    ol {
        margin-top: 0.3em;
        margin-bottom: 0;
        margin-left: 3.2em;
        margin-right: 0;
        -webkit-margin-start: 3.2em;
        -webkit-margin-end: 0;
        margin-inline-start: 3.2em;
        margin-inline-end: 0;
        padding: 0;
        list-style-image: none
    }

    dd {
        margin-bottom: 0.1em;
        margin-left: 1.6em;
        margin-right: 0;
        -webkit-margin-start: 1.6em;
        -webkit-margin-end: 0;
        margin-inline-start: 1.6em;
        margin-inline-end: 0
    }

    li {
        margin-bottom: 0.1em
    }

    dt {
        font-weight: bold;
        margin-bottom: 0.1em
    }

    dl {
        margin-top: 0.2em;
        margin-bottom: 0.5em
    }

    pre,
    code,
    tt,
    kbd,
    samp,
    .mw-code {
        font-family: monospace, monospace
    }

    pre,
    code,
    .mw-code {
        background-color: var(--background-color-neutral-subtle, #f8f9fa);
        color: var(--color-emphasized, #101418);
        border: 1px solid var(--border-color-muted, #dadde3)
    }

    code {
        border-radius: 2px;
        padding: 1px 4px
    }

    pre,
    .mw-code {
        padding: 1em;
        white-space: pre-wrap;
        overflow-x: hidden;
        word-wrap: break-word
    }

    table {
        font-size: 100%
    }

    fieldset {
        border: 1px solid #2a4b8d;
        margin: 1em 0 1em 0;
        padding: 0 1em 1em
    }

    legend {
        padding: 0.5em
    }

    form {
        border: 0;
        margin: 0
    }

    textarea {
        display: block;
        box-sizing: border-box;
        width: 100%;
        border: 1px solid var(--border-color-base, #a2a9b1);
        padding: 0.1em
    }

    .center {
        width: 100%;
        text-align: center
    }

    *.center * {
        margin-left: auto;
        margin-right: auto
    }

    .small {
        font-size: 94%
    }

    table.small {
        font-size: 100%
    }


    .toc,
    .toccolours {
        background-color: var(--background-color-neutral-subtle, #f8f9fa);
        border: 1px solid var(--border-color-base, #a2a9b1);
        padding: 5px;
        font-size: 95%
    }

    .toc {
        display: table;
        padding: 7px
    }

    .toc h2 {
        display: inline;
        border: 0;
        padding: 0;
        font-size: 100%;
        font-weight: bold
    }

    .toc .toctitle {
        text-align: center;
        direction: ltr
    }

    .toc ul {
        list-style: none;
        margin: 0.3em 0;
        padding: 0;
        text-align: start
    }

    .toc ul ul {
        margin: 0;
        margin-left: 2em;
        margin-right: 0;
        -webkit-margin-start: 2em;
        -webkit-margin-end: 0;
        margin-inline-start: 2em;
        margin-inline-end: 0
    }

    table.toc {
        border-collapse: collapse
    }

    table.toc td {
        padding: 0
    }

    .tocnumber,
    .toctext {
        display: table-cell;
        text-decoration: inherit
    }

    .tocnumber {
        color: var(--color-base, #202122)
    }

    .toctogglecheckbox {
        display: inline !important;
        position: absolute;
        opacity: 0;
        z-index: -1
    }

    .toctogglespan {
        font-size: 94%
    }

    .toctogglespan::before {
        content: ' ['
    }

    .toctogglespan::after {
        content: ']'
    }

    .toctogglelabel {
        color: var(--color-link, #0645ad);
        cursor: pointer
    }

    .toctogglelabel:hover {
        text-decoration: underline
    }

    .toctogglecheckbox:focus+.toctitle .toctogglelabel {
        text-decoration: underline;
        outline: auto
    }

    .toctogglecheckbox:checked+.toctitle .toctogglelabel::after {
        content: '显示'
    }

    .toctogglecheckbox:not(:checked)+.toctitle .toctogglelabel::after {
        content: '隐藏'
    }
}


@media screen {

    html,
    body {
        height: 100%
    }

    :focus {
        outline-color: var(--outline-color-progressive--focus, #36c)
    }

    html {
        font-size: 100%
    }

    html,
    body {
        font-family: sans-serif
    }


    pre,
    .mw-code {
        line-height: 1.3
    }

    .mw-jump-link:not(:focus) {
        display: block;
        position: absolute !important;
        clip: rect(1px, 1px, 1px, 1px);
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        overflow: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none
    }

    .mw-body h1,
    .mw-body .mw-heading1,
    .mw-body-content h1,
    .mw-body-content .mw-heading1,
    .mw-body-content h2,
    .mw-body-content .mw-heading2 {
        margin-bottom: 0.25em;
        padding: 0;
        font-family: 'Linux Libertine', 'Georgia', 'Times', 'Source Serif Pro', serif;
        line-height: 1.375
    }

    .mw-body h1,
    .mw-body .mw-heading1,
    .mw-body-content h1,
    .mw-body-content .mw-heading1 {
        font-size: 1.8em
    }

    .vector-body {
        font-size: 0.875rem;
        line-height: 1.6
    }

    .vector-body #siteSub {
        font-size: 12.8px
    }

    .vector-body .mw-heading1,
    .vector-body h1 {
        margin-top: 1em
    }

    .vector-body .mw-heading2,
    .vector-body h2 {
        margin-top: 1em;
        font-size: 1.5em
    }

    .vector-body .mw-heading3,
    .vector-body h3,
    .vector-body .mw-heading4,
    .vector-body h4,
    .vector-body .mw-heading5,
    .vector-body h5,
    .vector-body .mw-heading6,
    .vector-body h6 {
        margin-top: 0.3em;
        margin-bottom: 0;
        padding-bottom: 0;
        line-height: 1.6
    }

    .vector-body .mw-heading3,
    .vector-body h3 {
        font-size: 1.2em
    }

    .vector-body .mw-heading3,
    .vector-body h3,
    .vector-body .mw-heading4,
    .vector-body h4 {
        font-weight: bold
    }

    .vector-body .mw-heading4,
    .vector-body h4,
    .vector-body .mw-heading5,
    .vector-body h5,
    .vector-body .mw-heading6,
    .vector-body h6 {
        font-size: 100%
    }

    .vector-body .mw-heading1 h1,
    .vector-body .mw-heading2 h2,
    .vector-body .mw-heading3 h3,
    .vector-body .mw-heading4 h4,
    .vector-body .mw-heading5 h5,
    .vector-body .mw-heading6 h6 {
        margin-top: 0;
        font-size: inherit
    }

    .vector-body .toc h2 {
        font-family: sans-serif;
        font-size: 100%
    }

    .vector-body p {
        margin: 0.5em 0
    }

    .vector-body blockquote {
        border-left: 4px solid #eaecf0;
        padding: 8px 32px
    }

    .vector-body blockquote> :first-child {
        margin-top: 0
    }

    .vector-body blockquote> :last-child {
        margin-bottom: 0
    }

    .mw-parser-output a {
        word-wrap: break-word
    }


    .mw-parser-output a.external.free {
        word-break: break-all
    }

    body {
        background-color: #f6f6f6;
        overflow-y: scroll
    }

    .mw-body,
    .parsoid-body {
        background-color: var(--background-color-base, #fff);
        color: var(--color-base, #202122);
        direction: ltr;
        padding: 1em
    }

    .mw-body,
    #mw-data-after-content {
        margin-left: 10em
    }

    .mw-body {
        margin-top: -1px;
        border: 1px solid #a7d7f9;
        border-right-width: 0
    }

    .mw-body .firstHeading {
        display: block
    }

    .mw-indicators {
        z-index: 1
    }

    .vector-body {
        position: relative;
        z-index: 0
    }

    #mw-page-base {
        background-color: #fbfbfb;
        background-image: linear-gradient(to bottom, var(--background-color-base, #fff) 50%, #f6f6f6 100%);
        background-position: bottom left;
        height: 5em
    }

    #mw-head-base {
        margin-top: -5em;
        margin-left: 10em;
        height: 5em
    }



    #mw-head {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%
    }


    #p-logo+.mw-portlet .vector-menu-heading {
        display: none
    }

    .mw-footer {
        margin-left: 10em;
        margin-top: 0;
        padding: 0.75em
    }

    .mw-content-ltr {
        direction: ltr
    }

    .mw-content-rtl {
        direction: rtl
    }

    .mw-footer {
        direction: ltr
    }

    .mw-footer ul {
        list-style: none;
        margin: 0;
        padding: 0
    }

    .mw-footer li {
        color: var(--color-base, #202122);
        margin: 0;
        padding: 0.5em 0;
        font-size: 0.75em
    }

    #footer-icons {
        float: right
    }

    #footer-icons li {
        float: left;
        margin-left: 0.5em;
        line-height: 2;
        text-align: right
    }

    #footer-icons a {
        padding-left: 8px;
        padding-right: 8px;
        background-color: #f8f9fa
    }

    #footer-info li {
        line-height: 1.4
    }

    #footer-places li {
        float: left;
        margin-right: 1em;
        line-height: 2
    }


    #p-logo {
        width: 10em;
        height: 160px;
        margin-bottom: 1em
    }

    #p-logo a {
        background-position: center center;
        background-repeat: no-repeat;
        display: block;
        width: 10em;
        height: 160px;
        text-decoration: none
    }

    #localNotice {
        margin-bottom: 0.9em
    }

    #siteNotice {
        font-size: 0.8em
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg)
        }

        to {
            transform: rotate(360deg)
        }
    }

}

@media screen and (min-width:982px) {

    .mw-body,
    #mw-head-base,
    #mw-data-after-content,
    .mw-footer {
        margin-left: 11em
    }

    .mw-body {
        padding: 1.25em 1.5em 1.5em 1.5em
    }

    .mw-footer {
        padding: 1.25em
    }

    #mw-panel {
        padding-left: 0.5em
    }

    .vector-search-box {
        margin-right: 1rem
    }

}


@media screen and (max-width:900px) {

    #footer-icons,
    #footer-places {
        float: none;
        clear: both;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap
    }

    #footer-icons {
        margin-top: 0.5em
    }

    #footer-icons li:first-child {
        margin-left: 0
    }

    #footer-places li {
        padding-block: 0.25em;
        float: none
    }

    #footer-places li>a::before {
        content: '•';
        padding-right: 8px;
        font-size: 1em;
        line-height: 1
    }

    #footer-places li:first-child>a::before {
        content: unset
    }
}

.content-body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start
}

main {
    min-width: 10rem;
    width: 100%
}



#footer::after {
    content: '';
    display: block;
    clear: right
}

@media screen and (max-width:720px) {
    .content-wrapper {
        display: flex;
        flex-direction: column-reverse
    }

    #left-navigation,
    #content,
    footer#footer {
        margin-left: 0
    }

    #mw-head {
        top: 50px
    }

    .mw-body {
        margin-top: 49px
    }
}
