@inherits LayoutComponentBase
@inject IJSRuntime JS
@inject NavigationManager NavManager
@using Terraria_Wiki.Services

<div class="app-layout">

    <NavMenu />

    <main class="main-area">

        <TopBar />
        <div class="iframe-container page-anim"
             style="display: @(AppState.CurrentPage == "home" ? "block" : "none")">

            <iframe src="http://127.0.0.1:55000?theme=@iframeTheme"
                    class="wiki-frame" id="wiki-frame">
            </iframe>
        </div>
        <div class="content-container" style="display: @(AppState.CurrentPage == "home" ? "none" : "block")">
            @Body
        </div>
    </main>
</div>

@code {

    string iframeTheme;

    //刷新机制
    protected override void OnInitialized()
    {

        AppState.OnChange += RefreshUI;
        iframeTheme = ThemeService.GetIframeThemeState();

    }

    public void Dispose()
    {
        AppState.OnChange -= RefreshUI;
    }

    private void RefreshUI()
    {

        InvokeAsync(StateHasChanged);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
#if !DEBUG
            try
            {
                await JS.InvokeVoidAsync("disableBrowserShortcuts");
            }
            catch (Exception ex)
            {
                // 处理可能的 JS 互操作异常
                Console.WriteLine($"无法禁用快捷键: {ex.Message}");
            }
#endif
            AppState.Init(JS);
            IframeBridge.Init(JS);
            AppService.Init(NavManager);
            await ThemeService.InitWebThemeAsync(JS);
            if (Application.Current?.Windows[0].Page is MainPage mainPage)
            {
                mainPage.HideLoadingScreen();

            }

        }
        await base.OnAfterRenderAsync(firstRender);
    }

}
