@inherits LayoutComponentBase
@inject IJSRuntime JS
@inject NavigationManager NavManager
@using Terraria_Wiki.Services

<div class="app-layout">

	<NavMenu />

	<main class="main-area">

		<TopBar />
		<div class="iframe-container page-anim"
			 style="display: @(AppState.CurrentPage=="home" ? "block" : "none")">

			<iframe src="http://localhost:55000"
					class="wiki-frame" id="wiki-frame">
			</iframe>
		</div>
		<div class="content-container" style="display: @(AppState.CurrentPage == "home" ? "none" : "block")">
			@Body
		</div>
	</main>
</div>

@code {
	//刷新机制
	protected override void OnInitialized()
	{
		AppState.OnChange += RefreshUI;
	}

	public void Dispose()
	{
		AppState.OnChange -= RefreshUI;
	}

	private void RefreshUI()
	{

		InvokeAsync(StateHasChanged);
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
#if !DEBUG
			try
			{
				await JSRuntime.InvokeVoidAsync("disableBrowserShortcuts");
			}
			catch (Exception ex)
			{
				// 处理可能的 JS 互操作异常
				Console.WriteLine($"无法禁用快捷键: {ex.Message}");
			}
#endif
			AppState.Init(JS);
			AppState.InitializeThemeAsync();
			IframeBridge.Init(JS);
			AppService.Init(NavManager);

		}
		await base.OnAfterRenderAsync(firstRender);
	}

}
